@model IEnumerable<Zlatka.Models.Article>
@{
    ViewBag.Title = "Main Page";
}

<h1>Super web site on Zlatka.CMS</h1>
@foreach (var item in Model)
{
    <div class="post">
        @Html.Raw(HttpUtility.HtmlDecode(item.Annotation))
        @Html.ActionLink("Подробнее", "ShowPage", "Home", new { url = item.Url }, null)
    </div>
}
