@model IEnumerable<Zlatka.Models.Article>


<h1>@ViewBag.Title</h1>

@foreach (var item in Model)
{
    <div class="post">
        <h2>@item.Title</h2>
        @Html.Raw(HttpUtility.HtmlDecode(item.Annotation))
        @Html.ActionLink("Подробнее", "ShowPage", "Home", new { url = item.Url }, null)
    </div>
}
