@model IEnumerable<Zlatka.Models.Page>
@{
    Layout = null;
}
<a href="content/kach/index.html">KACH</a>
@foreach (var item in Model)
{
    if(item.Type == Zlatka.Models.PageTypes.SinglePage) {
        @Html.ActionLink(item.Title, "ShowPage", "Home",  new { url = item.Url }, null)
    }
    else if (item.Type == Zlatka.Models.PageTypes.Blog)
    {
        @Html.ActionLink(item.Title, "ShowCategory", "Home",  new { url = item.Url }, null)
    }
}