@model IEnumerable<Zlatka.Models.Article>

@{
    ViewBag.Title = "Статьи";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Статьи</h2>
<p>
    @Html.ActionLink("Добавить", "AddArticle")
</p>
<table class="table-list">
@foreach (var item in Model) {
    <colgroup>
        <col width="80%" />
        <col width="15%" />
        <col width="5%" />
    </colgroup>
    <tr>
        <td>
            @Html.ActionLink(item.Title, "EditArticle", new { id = item.id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("✕", "DeleteArticle", new { id = item.id }, new { @class = "delete js-delete", id = item.id, @data_action = "DeleteArticle"})
        </td>
    </tr>
}
</table>
