@{
    ViewBag.Title = "Пользователи";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Статьи</h2>
<p>
    @Html.ActionLink("Добавить", "AddUser")
</p>
<table class="table-list">
@foreach (var item in ViewBag.Users) {
    var roles = Roles.GetRolesForUser(item.UserName);
    
    <colgroup>
        <col width="80%" />
        <col width="15%" />
        <col width="5%" />
    </colgroup>
    <tr>
        <td>
            @Html.ActionLink((string)item.UserName, "EditUser", new { id = item.Id })
        </td>
        <td>
            @foreach (var role in roles)
            {
                <span>@role</span>
            }
        </td>
        <td>
            @Html.ActionLink("✕", "Deleteuser", new { id = item.Id }, new { @class = "delete js-delete-user", id = item.Id, @data_action = "DeleteArticle"})
        </td>
    </tr>
}
</table>
